<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (discount(); as discountRef) {
      <div>
        <h2 data-cy="discountDetailsHeading"><span>Discount</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ discountRef.id }}</span>
          </dd>
          <dt><span>Discount Code</span></dt>
          <dd>
            <span>{{ discountRef.discountCode }}</span>
          </dd>
          <dt><span>Discount Type</span></dt>
          <dd>
            <span>{{
              { null: '', PERCENTAGE: 'PERCENTAGE', FIXED: 'FIXED', BUY_ONE_GET_ONE_FREE: 'BUY_ONE_GET_ONE_FREE' }[
                discountRef.discountType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Used</span></dt>
          <dd>
            <span>{{ discountRef.used }}</span>
          </dd>
          <dt><span>Amount</span></dt>
          <dd>
            <span>{{ discountRef.amount }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/discount', discountRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
