<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-discount-heading" data-cy="DiscountCreateUpdateHeading">Create or edit a Discount</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_discountCode">Discount Code</label>
          <input
            type="text"
            class="form-control"
            name="discountCode"
            id="field_discountCode"
            data-cy="discountCode"
            formControlName="discountCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discountType">Discount Type</label>
          <select class="form-control" name="discountType" formControlName="discountType" id="field_discountType" data-cy="discountType">
            <option [ngValue]="null"></option>
            @for (discountType of discountTypeValues; track $index) {
              <option [value]="discountType">
                {{ { null: '', PERCENTAGE: 'PERCENTAGE', FIXED: 'FIXED', BUY_ONE_GET_ONE_FREE: 'BUY_ONE_GET_ONE_FREE' }[discountType] }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_used">Used</label>
          <input type="checkbox" class="form-check" name="used" id="field_used" data-cy="used" formControlName="used" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
